
.Services_content{
    background-color: rgb(175, 116, 6);
    margin-bottom: 7%;
    color: white;
    
}

.Services_text{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    align-items: center;

    @media screen and (max-width:700px){
        display: block;
        
    }
}

.text p{
    font-size: 1.2rem;
    font-weight: bold;
}

.container{
    display: flex;
    margin-bottom: 3%;

    @media screen and (max-width:700px) {
        display: block;
        margin: auto;
        
    }
    
}

.container div{
    margin-left: 30px;
    @media screen and (max-width:700px) {
        margin-bottom: 15px;
        
    }
}

.text_serv{
    text-align: center;
    margin: auto;
    font-size: 2rem;
    margin-bottom: 7%;
}