
.contact{
    padding: 30px;
    background-color:  #050538;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 7%;
    height: 400px;
}

.contact h2{
    color: white;
    margin-bottom: 3%;
}

.input-group {
    width: 60%;
    height: 50px;
    margin-bottom: 5%;

    @media screen and (max-width:700px)  {

        width: 80%;
        height: 50px;
        
    }
   
}

.contact_data{
    text-align: center;
    font-size: 1.2rem;
      
}

.contact_data a{
    font-size: 1.8rem;
    text-decoration: none;
   
    color: white;
}